[defaults]
inventory = inventory
collections_path = .collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path = .roles:roles
host_key_checking = no

[privilege_escalation]
become = yes

[ssh_connection]
usetty = yes
